<h1>Hello!</h1>
<p>Quick contact info: You can reach me at <b>carlsed (at) g.m.a.i.l.com</b> or at <b>(347) 857-8501</b>.</p>

<br />

<h2>Who is behind CouseBacon?</h2>
	<div class="row">
		<div class="span6">
			<p>Hi, my name is Carl and I am the guy behind CourseBacon. 
			<br />
			<br />
			I currently live in Brooklyn, NY, and really enjoy traveling and meeting new people. As a matter of fact, I'd love to hear from you - feel free to shoot me an email at <b>carlsed (at) g.m.a.i.l.com</b> or call me at <b>(347) 857-8501</b>. This is my direct cellphone number. You can also <%= link_to "follow me on Twitter", "http://www.twitter.com/carlsednaoui", :target => "_blank"%>.</p>
			<br />
			<p>Also, if you'd like to help out with CourseBacon please get in touch!</p>
		</div>
		<div class="span2">
			<%= link_to image_tag("carl.png"), "http://www.twitter.com/carlsednaoui", :target => "_blank" %>
		</div>
	</div>
	<br />
	<p>P.S.: Thank you so much for stopping by and please don't hesitate to reach out - comments, suggestions and constructive criticism welcome.</p>
	<br />

