<% unless @tweets.eql? [] %>
  <div class="top-space tweets">
    <h2><small>People talking about this resource:</small></h2>
    <% @tweets.each do |tweet| %>
      <%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{tweet.from_user}.mini", :size => "48x48", :title => tweet.tweet_text), "http://www.twitter.com/#{tweet.from_user}/status/#{tweet.tweet_id}", :target => "_blank" %>
    <% end %>
  </div>
<% end %>