<h1>Reviews You've Added to CourseBacon</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Review</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @reviews.each do |review| %>
			<tr>
				<td><%= link_to truncate(review.course_review, :length => 65), review_path(review) %></td>

				<td>
					<%= link_to 'Edit', edit_review_path(review), :class => 'btn btn-mini' %>
					<%= link_to 'Destroy', review_path(review), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
